/.c9
/.vscode
/articles
/assignment
/data
/data_antunes_manina.xls
/dat_export.py
/distmatrix1.csv
/distmatrix1.dat
/distmatrix1_1.csv
/distmatrix2.csv
/f_jk.csv
/f_jk_orig.csv
/f_jk_test.csv
/gantt.JPG
/gantt2.JPG
/gantt3.JPG
/g_kl.csv
/g_kl_orig.csv
/g_kl_test.csv
/init_file.dat
/k_1.csv
/MATH11183 - Course organisation.pdf
/MATH11183 - Week 1 - Part 1.pdf
/MATH11183 - Week 1 - Part 2.pdf
/MATH11183 - Week 2.pdf
/MATH11183 - Week 3(1).pdf
/MATH11183 - Week 4.pdf
/MATH11183 - Week 5.pdf
/Meeting notes with Dr Antunes.docx
/municipalities.csv
/out
/param_grid.pkl
/pickled.py
/print1.pdf
/print2.pdf
/Project articles
/proposal.aux
/proposal.log
/proposal.out
/proposal.pdf
/proposal.synctex.gz
/proposal.tex
/py_xpress.py
/q_j.csv
/reading
/references.bib
/references.bib.bak
/taor_10feb.mos
/unpickled_data.csv
/Versão Definitiva-Inês Penacho-21327009-MGA.pdf
/w_jk0.csv
/__pycache__
cazzo.py
analysis.xlsx
legend_h.JPG
legend.JPG
orig_sol_21feb.JPG
new_sol_21feb.JPG
sensitivity_analysis_notes7.pdf
TAOR_mid_report.pdf
cazzo.py
cazzo.py
TAORFacilityLayoutLectures.pdf
TAORFacilityLocationWLPLectureSlides(1).pdf
MATH11183 - Week 6.pdf
new_data_ine.csv
~$population_2015.xlsx
new_waste_data.xls
population_2016.xlsx
population_2017.xlsx
population_2018.xlsx
population_2019.xlsx
population_unformatted.xlsx
population.xlsx
population_2015.xlsx
all_waste_data.xls
