/.c9
/.vscode

/municipalities.csv
/out
/param_grid.pkl
/pickled.py
/print1.pdf
/print2.pdf
/Project articles
/proposal.aux
/proposal.log
/proposal.out
/proposal.pdf
/proposal.synctex.gz
/proposal.tex
/py_xpress.py
/q_j.csv
/reading
/references.bib
/references.bib.bak
/taor_10feb.mos
/unpickled_data.csv
/Versão Definitiva-Inês Penacho-21327009-MGA.pdf
/w_jk0.csv
/__pycache__
~$population_2015.xlsx
new_waste_data.xls
population_2016.xlsx
population_2017.xlsx
population_2018.xlsx
population_2019.xlsx
population_unformatted.xlsx
population.xlsx
population_2015.xlsx
all_waste_data.xls
recycling_2013.xls
recycling_2014.xls
recycling_2019.xls
recycling_total_2019.xlsx
taor_17032021.zip
W4uJSf_pRxj5AFThL8XiOGHPsCcsdpRrW-Vq3Kpu_82362.xls
~$population.xlsx
data_antunes_manina.xls
data/recycling_data_municipality.xls
